Package: make-forwarded-email
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: dotnet-runtime-3.1
Maintainer: Maxime Labelle <springcom@users.noreply.github.com>
Description: Adds a 'forwarded' notice to an unencrypted MIME email (.eml)
